# Sign-in to iNaturalist and then go to https://www.inaturalist.org/users/api_token to acquire a new token
api_token = "eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyX2lkIjo3NTA4NTMsImV4cCI6MTYwOTQ2NzQxM30.JOGGQCDRIIf1oSkoxlWt45VfX93P01k0SU3ozTQH-IEnmP3uKMrEmC08JKyVNxwFS5TegftaeeDfHoCpkQOe9w"